
.card{
  flex: 1;
  flex-basis: 20rem;
  flex-grow: 0;
  height: 30rem;
  border: 2px solid hsla(0, 23%, 22%, 0.584);
  box-shadow: 0px 4px 7px rgba(0,0,0,.5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  overflow: hidden;
  position: relative;
}
.card img{
  object-fit: contain;
  width: 100%;
  height:100%;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.descriptions{
  position: absolute;
  top:0px;
  left:0px;
  background-color: rgba(255,255,255,.7);
  width:100%;
  height:100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  clip-path: circle(0% at 100% 100%);
  overflow-y: auto;
}
.card:hover .descriptions{
  left:0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}
.card:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}
.card:hover img{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.card h2{
  color: #ff3838;
  letter-spacing: 1px;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.description_parrafo{
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: #383434;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow-y: auto;
}
.description_parrafo_date{
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 700;
  color:  #ff3838;
  margin-bottom: 10px;
  margin-top: 10px;
}

.description_span_date{
  color:#383434;
  font-weight: 500;
}


.button_divCard{
  position: fixed;
  top: 13rem;
  right: 1.3rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  height: 50%;

}


.button_span_deleteMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 5px;
  padding: .2rem 0;
  transition: all ease-out 0.2s;
 }


 .button_span_addMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 235, 205);
  font-weight: 600;
  padding: .2rem 0;
  gap: 5px;
  transition: all ease-out 0.2s;
 }